html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #d3d3d3;
}

#title{
  text-align: center;
  font-family: 'Abel';font-size: 40px;
}

#speed_slider{
  position: relative;
  width: 15%;
  margin-top: 20px;
  border-color: 'black'
}

#speed_slider_text{
  font-family: 'Abel';font-size: 40px;
}

#grid_settings_text{
  font-family: 'Abel';font-size: 40px;
}

#extra_settings_text{
  font-family: 'Abel';font-size: 40px;
}

#cell_slier_text{
  font-family: 'Abel';font-size: 40px;
}

.slidecontainer {
  width: 10%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #FFF; /* White background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #000000; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #000000; /* Blacks background */
  cursor: pointer; /* Cursor on hover */
  /*border-radius: 50%;*/
}


#main {
  position: absolute;
  width: 96%;
  left: 2%;
  height: 75%;
  top: 10%;
  background-image: none;
  background-color: rgb(255, 255, 255);
}

#OptionsHere {
   position: absolute;
   width: 96%;
   left: 2%;
   height: 25%;
   top: 85%;
}

#cell-grid {
  position: relative;
  width: 100%;
  height: 100%;
  background: grey;
  margin: 0px;
  border-color: 'black'
}

#Controls {
  position: relative;
  width: 15%;
  margin-top: 20px;
  border-color: 'black'
}

#Control_text{
  font-family: 'Abel';font-size: 40px;
  margin-bottom: 6px;
}

#Language_Select{
  position: relative;
}

td:hover {
  transition: opacity .001s;
  opacity: .3;
  z-index: 2;
}

/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 2px 8px;
	display: inline-block;
	margin: 5px 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

/* Button 2 */
.btn-2 {
	background: #cb4e4e;
	color: #fff;
	box-shadow: 0 6px #ab3c3c;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

/* Button 2a */
.btn-2a {
	border-radius: 0 0 5px 5px;
}

.btn-2a:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

.btn-2a:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

/* Button 2b */
.btn-2b {
	border-radius: 0 0 5px 5px;
}

.btn-2b:hover {
	box-shadow: 0 8px #ab3c3c;
	top: -2px;
}

.btn-2b:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}





