html, body {
  margin: 0px !important;  
}
#top-panel {
  position: absolute;
  width: 100%;
  height: 10%;
  margin: 0px;
  text-align: center;
  border: solid green 1px;
}


#main {
  position: absolute;
  width: 96%;
  left: 2%;
  height: 75%;
  top: 10%;
  margin: 0px;
  background-color: rgb(236, 208, 208);
}

#bottom-panel {
  position: absolute;
  width: 100%;
  height: 15%;
  bottom: 0%;
  border: solid green 1px;
}

#cell-grid {
  position: absolute;
  width: 100%;
  height: 100%;
  background: grey;
  margin: 0px;
}
td:hover {
  transition: opacity .001s;
  opacity: .3;
  z-index: 2;
}